//Arquivo modificado. Os arquivos base podem ser encontrados em: https://github.com/IBM-Blockchain/marbles
#homePanel.panel
	div 
		h1 CERTIFICADO DIGITAL - IFNMG 
		hr
		#description.hint <img src="/imgs/aluno.png" alt="aluno"> <br><br><br><br><br><br><br><br><br><br>
		
		#description.hint CADASTRO DE CERTIFICADOS NO BLOCKCHAIN - IFNMG - CAMPUS ARINOS. VERIFIQUE NA ABA ABAIXO O CAMPO PAYLOAD PARA ACOMPANHAR AS TRANSAÇÕES NO BLOCKCHAIN! <br><br><br><br>
		
		#description.hint O PAYLOAD CORRESPONDENTE AOS DADOS CADASTRADOS NO BLOCKCHAIN ENCONTRA-SE NO SEGUINTE FORMATO: IFNMG: |NÚMERO DE CPF| NOME DO ALUNO| NOME DO CURSO| DATA DA COLAÇÃO DE GRAU
		
		
		
		
		
			
		