//Arquivo modificado. Os arquivos base podem ser encontrados em: https://github.com/IBM-Blockchain/marbles
#homePanel.panel
	div 
		h1 CERTIFICADO DIGITAL - IFNMG 
		hr
		
		#description.instrucoesIniciais.area_print1 <img src="/imgs/aluno.png" alt="aluno"> <br class="area_print"><br class="area_print"><br><br><br><br>
		
		#description.instrucoesIniciais CERTIFICADOS DIGITAIS - IFNMG - CAMPUS ARINOS.  <br><br><br><br>
		
		#description.instrucoesIniciais OS DADOS DO CERTIFICADO DO ALUNO ENCONTRAM-SE NO SEGUINTE FORMATO: IFNMG: |NÚMERO DE MATRÍCULA| NOME DO ALUNO| INICIAIS DO CURSO| DATA DA COLAÇÃO DE GRAU. VOCÊ PODE IMPRIMIR O CERTIFICADO. BASTA PROCURAR ELE LOGO ABAIXO A PARTIR DO NÚMERO DE REGISTRO. AO COLOCAR O CURSOR DO MOUSE SOBRE O NÚMERO DE REGISTRO, APARECERÁ A OPÇÃO DE IMPRESSÃO 
				
		
		
			
		