//Arquivo modificado. Os arquivos base podem ser encontrados em: https://github.com/IBM-Blockchain/marbles

script(type='/js/util/cpf.js')



#createPanel(hidden).panel
    
	h3 Cadastre os dados do aluno que colou grau 
	
	hr
	br
	br
	#innerWrap
		#trashbin <img src="/imgs/modelo_diploma.png" alt="Diploma">
		
		br
		br
		
		form(action="/create" method="POST")#createform
			legend Número de CPF do Aluno  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input(type="text" name="cpf" id="cpf" placeholder="apenas números" maxlength="11" required) 
		
			
			br
			
						
			legend Nome do Aluno  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input(type="text" name="nome" placeholder="preenchimento obrigatório" required)
				
			br
			legend Escolha o Curso do Formando
				select(name="curso")
					option(value="BADM") Bacharelado em Administração
					option(value="BAGRO") Bacharelado em Agronomia
					option(value="BSI") Bacharelado em Sistemas de Informação
					option(value="TGA") Tecnologia em Gestão Ambiental
					option(value="TPG") Tecnologia em Produção de Grãos
					
			br
			legend Data da Colação de Grau:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input(type="date" name="user")
				
				br
				br
				br
						
			button(type="button")#submit
				
				span Armazenar no Blockchain
			
			