//Arquivo modificado. Os arquivos base podem ser encontrados em: https://github.com/IBM-Blockchain/marbles
#viewBCWrap
	span.fa.fa-eye
	span &nbsp;&nbsp;VEJA OS CADASTRADOS ARMAZENADOS NO BLOCKCHAIN&nbsp;&nbsp;
	span.fa.fa-angle-up
	
#footerWrap(hidden)
	#blockWrap
		#details
			p CARREGANDO...
			hr