//Arquivo modificado. Os arquivos base podem ser encontrados em: https://github.com/IBM-Blockchain/marbles
#viewBCWrap
	span.fa.fa-eye
	span &nbsp;&nbsp;VEJA OS CERTIFICADOS ARMAZENADOS NO BLOCKCHAIN&nbsp;&nbsp;
	span.fa.fa-angle-up
	br
	#pesquisaCertificados
#footerWrap(hidden)
	#blockWrap
		#details.area_print2  
			p CARREGANDO...
			hr
	